# exclude vendored files
exclude: '^(COPYING\.LESSER|examples/deepzoom/static/.*\.js)$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.18.0
    hooks:
      - id: pyupgrade
        name: Modernize python code
        args: ["--py38-plus"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Reorder python imports with isort

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Format python code with black

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.19.0
    hooks:
      - id: blacken-docs
        name: Format python code in documentation

  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
        additional_dependencies: [flake8-bugbear, Flake8-pyproject]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: Lint python code with flake8
        additional_dependencies: [flake8-bugbear, Flake8-pyproject]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.0
    hooks:
      - id: mypy
        name: Check Python types
        additional_dependencies: [flask, openslide-bin, pillow, types-setuptools]
        exclude: "^doc/.*$"

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.4
    hooks:
      - id: rstcheck
        name: Validate reStructuredText syntax
        additional_dependencies: [sphinx, toml]

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: local
    hooks:
      - id: annotations
        name: Require "from __future__ import annotations"
        language: pygrep
        types: [python]
        # exclude config-like files
        exclude: "^(setup\\.py|doc/conf\\.py|openslide/_version\\.py)$"
        # Allow files with import statement, or of less than two characters.
        # One-character files are allowed because that's the best we can do
        # with paired negative lookbehind and lookahead assertions.  ^ and $
        # don't work because --multiline causes them to match at newlines.
        entry: "(?<!.)(?!.)|\nfrom __future__ import annotations"
        args: [--multiline, --negate]
